<html><head>
    <meta charset="UTF-8">
    <meta http-equiv="x-dns-prefetch-control" content="on">
    <meta http-equiv="X-UA-Compatible" content="IE=11,IE=10,IE=9,IE=8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0, minimum-scale=1.0, maximum-scale=1.0">
    <meta name="apple-mobile-web-app-title" content="PythonTOP,拓普Python学院">
    <title>拓普Python学院,Python!</title>

    <link rel="stylesheet" id="bootstrap-css" href="/templates/blog/static/css/bootstrap.min.css" type="text/css" media="all">
    <link rel="stylesheet" id="fontawesome-css" href="/templates/blog/static/css/font-awesome.min.css" type="text/css" media="all">
    <link rel="stylesheet" id="stylesheet-css" href="/templates/blog/static/css/style.css" type="text/css" media="all">
    <link rel="stylesheet" id="raxus-css" href="/templates/blog/static/css/raxus.css" type="text/css" media="all">
    <link rel="stylesheet" id="open-social-style-css" href="/templates/blog/static/css/os.css" type="text/css" media="all">
    <meta name="robots" content="index,follow">
    <meta name="keywords" content="互联网,产品经理,产品设计,用户体验,交互设计,网站运营,移动互联网">
    <meta name="description" content="聚焦互联网前沿资讯，网络精华内容，交流产品心得。 每天为你速递最新、最鲜、最有料的互联网科技资讯！">
</head>
<body class="home blog site-layout-2">
<!-- 头部 -->
<header class="fix-wrap" id="fix-wrap">
    <div class="fix-main clearfix pr" id="fix-main" _hover-ignore="1">
        <a href="/" class="index-logo"><img src="/static/picture/black-logo.png" alt="拓普Python学院,Python!"></a>

        <nav class="nav fl">
            <ul id="fix-list" class="fix-list clearfix">
                <li id="menu-item-117720" class="menu-item"><a href="/">首页</a></li>
                
                    
                        <li id="menu-item-117720" class="menu-item">
                            <a href="/list-1.html">教程</a>
                        </li>
                    
                        <li id="menu-item-117720" class="menu-item">
                            <a href="/list-2.html">笔记</a>
                        </li>
                    
                        <li id="menu-item-117720" class="menu-item">
                            <a href="/list-3.html">代码</a>
                        </li>
                    
                
                <li id="menu-item-117720" class="menu-item"><a href="/about/">关于博主</a></li>
            </ul>
        </nav>
        <form method="get" class="index-search  hidden-xs" action="/s/">
            <input class="text" name="search" type="text" placeholder="输入关键字" value="">
            <button class="submit" type="submit"><i class="fa fa-search"></i></button>
        </form>
    </div>
</header>


    <div id="main-container" class="container clearfix">
        <section class="post-left">
            <div class="row">
                <!-- /banner图 -->
                <div class="col-md-6">
                    <div id="featured" class="raxus-slider" data-autoplay="3000" data-keypress="false" data-thumbnail="bottom">
                        <ul class="slider-relative" id="relative">
                            
                                <li class="slide fix-width">
                                    <a href="http://44.jpg" title="最新">
                                        <img src="/media/banner/44.jpg" srcset="/media/banner/44.jpg" alt="最新" class="wp-post-image" width="370" height="290">
                                    </a>
                                    <span class="text ani-left"><strong>最新</strong></span>
                                </li>
                            
                                <li class="slide fix-width">
                                    <a href="http://127.0.0.1:8000/blog/auth.jpg" title="最热">
                                        <img src="/media/banner/auth.jpg" srcset="/media/banner/auth.jpg" alt="最热" class="wp-post-image" width="370" height="290">
                                    </a>
                                    <span class="text ani-left"><strong>最热</strong></span>
                                </li>
                            
                                <li class="slide fix-width">
                                    <a href="http://127.0.0.1:8000/blog/black-log.png" title="最火">
                                        <img src="/media/banner/black-logo.png" srcset="/media/banner/black-logo.png" alt="最火" class="wp-post-image" width="370" height="290">
                                    </a>
                                    <span class="text ani-left"><strong>最火</strong></span>
                                </li>
                            
                                <li class="slide fix-width">
                                    <a href="http://127.0.0.1:8000/blog/pycharm2.jpg" title="最快">
                                        <img src="/media/banner/pycharm2.jpg" srcset="/media/banner/pycharm2.jpg" alt="最快" class="wp-post-image" width="370" height="290">
                                    </a>
                                    <span class="text ani-left"><strong>最快</strong></span>
                                </li>
                            

                        </ul>
                    </div>
                </div>
                <!-- /banner图 -->

                <!-- 首页推荐 -->
                <div class="col-md-6">
                    <div class="hotread ">
                        <div class="title">推荐阅读</div>


 
                        
                            <div class="caption">
                                <h4><a href="/show-1.html" title="python 入门教程" rel="bookmark">python 入门教程</a></h4>
                                <p>python 入门</p>
                            </div>
                        
                            <div class="caption">
                                <h4><a href="/show-4.html" title="W3C启动Web支付标准工作，推进在线结算流程" rel="bookmark">W3C启动Web支付标准工作，推进在线结算流程</a></h4>
                                <p>W3C启动Web支付标准工作，推进在线结算流程</p>
                            </div>
                        
                            <div class="caption">
                                <h4><a href="/show-5.html" title="简单HTML5打造内涵搜索框" rel="bookmark">简单HTML5打造内涵搜索框</a></h4>
                                <p>简单HTML5打造内涵搜索框</p>
                            </div>
                        
                    </div>
                </div>
                <!-- /今日头条 -->
            </div>
            <!-- /文章列表 -->
            <div class="index-main clearfix">
                <div class="main-title">
                    <h4 class="post-left-title fl">最新文章</h4>
                    <div class="fr"></div>
                </div>
                <div class="row">

                    
                        <div class="article-box clearfix excerpt-1">
                            <div class="col-md-4">
                                <div class="thumbnail">
                                    <a href="/show-6.html" title="网站设计-不只是门面漂亮这么简单">
                                        <img src="media/article_img/2020/10/29/html_she.PNG" srcset="media/article_img/2020/10/29/html_she.PNG" alt="网站设计-不只是门面漂亮这么简单" class="wp-post-image" width="240" height="160"></a>
                                </div>
                            </div>
                            <div class="col-md-8">
                                <h2><a href="/show-6.html" target="_blank" title="网站设计-不只是门面漂亮这么简单">网站设计-不只是门面漂亮这么简单</a></h2>
                                <p class="txtcont hidden-xs"><a href="/show-6.html" target="_blank" title="网站设计-不只是门面漂亮这么简单">网站设计-不只是门面漂亮这么简单</a></p>
                                <div class="meta"><span class="label label-info"><a href="/list-1.html">教程</a></span>
                                    <time class="item"><i class="fa fa-clock-o"></i>2020年10月29日
                                    </time>
                                </div>
                            </div>
                        </div>
                    
                        <div class="article-box clearfix excerpt-1">
                            <div class="col-md-4">
                                <div class="thumbnail">
                                    <a href="/show-5.html" title="简单HTML5打造内涵搜索框">
                                        <img src="media/article_img/2020/10/29/html_qianduan.PNG" srcset="media/article_img/2020/10/29/html_qianduan.PNG" alt="简单HTML5打造内涵搜索框" class="wp-post-image" width="240" height="160"></a>
                                </div>
                            </div>
                            <div class="col-md-8">
                                <h2><a href="/show-5.html" target="_blank" title="简单HTML5打造内涵搜索框">简单HTML5打造内涵搜索框</a></h2>
                                <p class="txtcont hidden-xs"><a href="/show-5.html" target="_blank" title="简单HTML5打造内涵搜索框">简单HTML5打造内涵搜索框</a></p>
                                <div class="meta"><span class="label label-info"><a href="/list-.html"></a></span>
                                    <time class="item"><i class="fa fa-clock-o"></i>2020年10月29日
                                    </time>
                                </div>
                            </div>
                        </div>
                    
                        <div class="article-box clearfix excerpt-1">
                            <div class="col-md-4">
                                <div class="thumbnail">
                                    <a href="/show-4.html" title="W3C启动Web支付标准工作，推进在线结算流程">
                                        <img src="media/article_img/2020/10/29/W3C.PNG" srcset="media/article_img/2020/10/29/W3C.PNG" alt="W3C启动Web支付标准工作，推进在线结算流程" class="wp-post-image" width="240" height="160"></a>
                                </div>
                            </div>
                            <div class="col-md-8">
                                <h2><a href="/show-4.html" target="_blank" title="W3C启动Web支付标准工作，推进在线结算流程">W3C启动Web支付标准工作，推进在线结算流程</a></h2>
                                <p class="txtcont hidden-xs"><a href="/show-4.html" target="_blank" title="W3C启动Web支付标准工作，推进在线结算流程">W3C启动Web支付标准工作，推进在线结算流程</a></p>
                                <div class="meta"><span class="label label-info"><a href="/list-1.html">教程</a></span>
                                    <time class="item"><i class="fa fa-clock-o"></i>2020年10月29日
                                    </time>
                                </div>
                            </div>
                        </div>
                    
                        <div class="article-box clearfix excerpt-1">
                            <div class="col-md-4">
                                <div class="thumbnail">
                                    <a href="/show-3.html" title="学习总结">
                                        <img src="media/article_img/2020/10/14/shouji.jpeg" srcset="media/article_img/2020/10/14/shouji.jpeg" alt="学习总结" class="wp-post-image" width="240" height="160"></a>
                                </div>
                            </div>
                            <div class="col-md-8">
                                <h2><a href="/show-3.html" target="_blank" title="学习总结">学习总结</a></h2>
                                <p class="txtcont hidden-xs"><a href="/show-3.html" target="_blank" title="学习总结">知识点总结</a></p>
                                <div class="meta"><span class="label label-info"><a href="/list-2.html">笔记</a></span>
                                    <time class="item"><i class="fa fa-clock-o"></i>2020年10月03日
                                    </time>
                                </div>
                            </div>
                        </div>
                    
                        <div class="article-box clearfix excerpt-1">
                            <div class="col-md-4">
                                <div class="thumbnail">
                                    <a href="/show-2.html" title="django 入门教程">
                                        <img src="media/article_img/2020/10/14/tx.jpg" srcset="media/article_img/2020/10/14/tx.jpg" alt="django 入门教程" class="wp-post-image" width="240" height="160"></a>
                                </div>
                            </div>
                            <div class="col-md-8">
                                <h2><a href="/show-2.html" target="_blank" title="django 入门教程">django 入门教程</a></h2>
                                <p class="txtcont hidden-xs"><a href="/show-2.html" target="_blank" title="django 入门教程">django</a></p>
                                <div class="meta"><span class="label label-info"><a href="/list-1.html">教程</a></span>
                                    <time class="item"><i class="fa fa-clock-o"></i>2020年10月03日
                                    </time>
                                </div>
                            </div>
                        </div>
                    
                        <div class="article-box clearfix excerpt-1">
                            <div class="col-md-4">
                                <div class="thumbnail">
                                    <a href="/show-1.html" title="python 入门教程">
                                        <img src="media/article_img/2020/10/14/web1.jpg" srcset="media/article_img/2020/10/14/web1.jpg" alt="python 入门教程" class="wp-post-image" width="240" height="160"></a>
                                </div>
                            </div>
                            <div class="col-md-8">
                                <h2><a href="/show-1.html" target="_blank" title="python 入门教程">python 入门教程</a></h2>
                                <p class="txtcont hidden-xs"><a href="/show-1.html" target="_blank" title="python 入门教程">python 入门</a></p>
                                <div class="meta"><span class="label label-info"><a href="/list-1.html">教程</a></span>
                                    <time class="item"><i class="fa fa-clock-o"></i>2020年10月03日
                                    </time>
                                </div>
                            </div>
                        </div>
                    


                </div>
            </div>
            <!-- /文章列表 -->
        </section>
        <!-- /post-left -->
        <!-- /post-right -->
        <aside class="post-right hidden-xs">
            
            <section class="widget post-right-item">
                <h4 class="post-right-title">热门文章排行</h4>
                <ol class="hot-list">
                    
                        <li>
                            <a href="/show-1.html" title="python 入门教程">python 入门教程</a>
                        </li>
                    
                        <li>
                            <a href="/show-5.html" title="简单HTML5打造内涵搜索框">简单HTML5打造内涵搜索框</a>
                        </li>
                    
                        <li>
                            <a href="/show-4.html" title="W3C启动Web支付标准工作，推进在线结算流程">W3C启动Web支付标准工作，推进在线结算流程</a>
                        </li>
                    
                </ol>
            </section>
            
            
            <section class="widget post-right-item">
    <h4 class="post-right-title">热门推荐</h4>
    <ul class="post-hot clearfix">
        <li>
            <div class="img">

                <a href="/show-1.html" title="W3C启动Web支付标准工作，推进在线结算流程"><img src="static/picture/next-1.png" srcset="media/article_img/2018/10/07/next-1.png" alt="" class="wp-post-image" width="120" height="80"></a>
            </div>
            <a href="/show-1.html" title="W3C启动Web支付标准工作，推进在线结算流程" target="_blank" class="title">W3C启动Web支付标准工作，推进在线结算流程</a>
        </li>
        <li>
            <div class="img">

                <a href="/show-4.html" title="Firefox5新功能:社交共享 集成身份管理"><img src="static/picture/firefox503.jpg" srcset="media/article_img/2018/10/07/firefox503.jpg" alt="" class="wp-post-image" width="120" height="80"></a>

            </div>
            <a href="/show-4.html" title="Firefox5新功能:社交共享 集成身份管理" target="_blank" class="title">Firefox5新功能:社交共享 集成身份管理</a>
        </li>
        <li>
            <div class="img">

                <a href="/show-5.html" title="简单HTML5打造内涵搜索框"><img src="static/picture/web1_if1rrie.jpg" srcset="media/article_img/2018/10/07/web1_If1RRie.jpg" alt="" class="wp-post-image" width="120" height="80"></a>
            </div>
            <a href="/show-5.html" title="简单HTML5打造内涵搜索框" target="_blank" class="title">简单HTML5打造内涵搜索框</a>
        </li>

        <li>
            <div class="img">

                <a href="/show-7.html" title="网站设计-不只是门面漂亮这么简单"><img src="static/picture/web1.jpg" srcset="media/article_img/2018/10/07/web1.jpg" alt="" class="wp-post-image" width="120" height="80"></a>

            </div>
            <a href="/show-7.html" title="网站设计-不只是门面漂亮这么简单" target="_blank" class="title">网站设计-不只是门面漂亮这么简单</a>
        </li>

        <li>
            <div class="img">

                <a href="/show-8.html" title="谷歌用户体验设计准则"><img src="static/picture/tx_3zybskx.jpg" srcset="media/article_img/2018/10/07/tx_3zybSKX.jpg" alt="" class="wp-post-image" width="120" height="80"></a>

            </div>
            <a href="/show-8.html" title="谷歌用户体验设计准则" target="_blank" class="title">谷歌用户体验设计准则</a>
        </li>

        <li>
            <div class="img">

                <a href="/show-10.html" title="手机端阅读类产品的信息架构"><img src="static/picture/shouji.jpeg" srcset="media/article_img/2018/10/07/shouji.jpeg" alt="" class="wp-post-image" width="120" height="80"></a>

            </div>
            <a href="/show-10.html" title="手机端阅读类产品的信息架构" target="_blank" class="title">手机端阅读类产品的信息架构</a>
        </li>

    </ul>
</section>


<section class="widget post-right-item"><h4 class="post-right-title">所有标签</h4>
    <div class="tags">

        <a href="/tag/django">django</a>

        <a href="/tag/Python教程">Python教程</a>

        <a href="/tag/Django教程">Django教程</a>

        <a href="/tag/mysql">mysql</a>

        <a href="/tag/Linux">Linux</a>

    </div>
</section>
<!-- /关注我们 -->
<div class="post-right-item">
    <h4 class="post-right-title">关注我们</h4>
    <div class="wid-about">
        <p>拓普Python学院，欢迎关注！</p>
        <img src="static/picture/weixinqr.jpg" alt="微信二维码-互联网的一些事" width="160" height="160">
    </div>
    <div class="wid-about">
        <p><strong>联系方式:</strong></p>
        <p>QQ:445813</p>
        <p>Email：445813@qq.com</p>
    </div>
</div>


        </aside>
        <div class="FriendLink hidden-xs clearfix">
            <div class="title"><h3>友情链接：</h3></div>
            <ul class="clears">
                
            </ul>
        </div>
    </div>


<!-- 底部 -->
<footer class="footer">
    <div class="copyright"> © 2010- 2018 · All Rights Reserved
        · <a href="https://www.django.cn">Django中文网</a>
        · <a href="http://www.miibeian.gov.cn" target="_blank">湘ICP备17023990号</a> 版权所有 © Django中文网
    </div>
</footer>
<script src="/static/js/bundle.js"></script>
<script type="text/javascript" src="/static/js/view-history.js"></script>
<script type="text/javascript" src="/static/js/push.js"></script>
<script type="text/javascript" src="/static/js/jquery.min.js"></script>
<script type="text/javascript" src="/static/js/bootstrap.min.js"></script>
<script type="text/javascript" src="/static/js/raxus-slider.min.js"></script>
<script type="text/javascript" src="/static/js/loader.js"></script>
<script type="text/javascript" src="/static/js/bj-lazy-load.min.js"></script>
<script type="text/javascript" src="/static/js/os.js"></script>


</body></html>